# Cache folders
cache/
**/cache/
.cache/
__pycache__/

# ffmpeg
ffmpeg/
**/ffmpeg/
ffmpeg_yt-dlp/

# Downloads
Downloads/
download_archive.txt

# Cache files
# cache/playlists_cache.json
!cache/playlists_cache.json

# Explicitly include user_preferences.json if any rule would ignore it
!user_preferences.json

# Executables
*.exe

# Archives
*.zip 